/*=================================================================
  RESET
==================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, 
video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block}

body{line-height:1}
ol, ul {list-style:none}
li{ vertical-align: bottom;}
blockquote, q {quotes:none}

blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none}
table {border-collapse:collapse; border-spacing:0}

fieldset,img { border:0 }
caption,th { font-style:normal;font-weight:normal;	text-align:left}
h1,h2,h3,h4,h5,h6 { font-size:100%;	font-weight:normal }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none;}
[hidden] { display: none; }
img{vertical-align:middle}
textarea {resize: vertical}
button,input,optgroup,select,textarea { color: inherit; font: inherit }

sub,sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup {top:-0.5em}
sub {bottom:-0.25em}

a{ text-decoration:none; background: transparent; }
a, a:active, a:hover, a:visited, :focus { outline: none!important; text-decoration:none!important;}
a,img,p {display:block;}
ol,ul {margin:0;}

*, *:after, *::before {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  margin: 0;  padding: 0;  text-decoration: none;  list-style-type: none; outline: none;}
a{-webkit-transition: all .3s ease-in;  -moz-transition: all .3s ease-in;  -o-transition: all .3s ease-in;  transition: all .3s ease-in;}


::-webkit-input-placeholder {color:#000000;}		/* WebKit, Blink, Edge */
:-moz-placeholder {color:#000000; opacity:1;}		/* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#000000; opacity:1;}		/* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#000000;}				/* Internet Explorer 10-11 */
::-ms-input-placeholder {color:#000000;} 			/* Microsoft Edge */
::placeholder {color:#000000;} 						/* Most modern browsers support this now. */


@font-face {
    font-family: 'marionregular';
    src: url('../fonts/marion_regular-webfont.woff2') format('woff2'),
         url('../fonts/marion_regular-webfont.woff') format('woff'),
         url('../fonts/marion_regular-webfont.ttf') format('truetype'),
         url('../fonts/marion_regular-webfont.svg#marionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marionregular';
    src: url('../fonts/marion_regular-webfont.woff2') format('woff2'),
         url('../fonts/marion_regular-webfont.woff') format('woff'),
         url('../fonts/marion_regular-webfont.ttf') format('truetype'),
         url('../fonts/marion_regular-webfont.svg#marionregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'dinregular';
    src: url('../fonts/dinregularalternate-webfont.woff2') format('woff2'),
         url('../fonts/dinregularalternate-webfont.woff') format('woff'),
         url('../fonts/dinregularalternate-webfont.ttf') format('truetype'),
         url('../fonts/dinregularalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinboldalternate';
    src: url('../fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate_bold-webfont.woff') format('woff'),
         url('../fonts/din_alternate_bold-webfont.ttf') format('truetype'),
         url('../fonts/din_alternate_bold-webfont.svg#dinboldalternate') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
transform: translateX(-50%,-50%); -webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);
-webkit-transition: all 1s;  -moz-transition: all 1s;  -o-transition: all 1s;  transition: all 1s;
*/

/*=================================================================
  GENERAL
==================================================================*/
html, body {position:relative; height:auto; font-size:16px; font-family: 'dinregular', sans-serif; font-weight:bold;}

#wrapper {margin:0 auto; overflow:hidden}
#main {position:relative; width:100%; height:auto; overflow:hidden}




/*=================================================================
  CLASS
==================================================================*/
.displayNone {display:none!important}
.main-container {position:relative; width:100%; height:auto; overflow:hidden}
.main-content {position:relative; width:1400px; height:auto; margin:0 auto; overflow:hidden}
.main-flexbox {display: -ms-flexbox; display: -webkit-flex; display: flex;}
.main-max-fix {position:relative; max-width:1920px; height:auto; margin:0 auto;}

.main-overlay {visibility:hidden; position:fixed; left:0; width:100%; height:100%; background:rgba(0,0,0,0); text-indent:-9999em; z-index:0; overflow:hidden;
	-moz-transition: all .15s ease-in 0s;
	-webkit-transition: all .15s ease-in 0s;
	-o-transition: all .15s ease-in .0s;
	-ms-transition: all .15s ease-in 0s;
	transition: all .15s ease-in 0s;}
	
	
.lightbox-wrapper {display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:888}
	.lightbox-content {position:absolute; left:0; top:0; width:100%; height:100%; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content:center; align-items:center;}
		.login-content {position:relative; padding:75px 220px 50px; background:#40415A; border:solid 1px #000000; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;}
		.login-content>div {position:relative; z-index:3; text-align:center; margin-left:-70px;}
			.login-content>div h2 {font-size:2.5rem; padding-bottom:75px; color:#ffffff;}
			
			.login-content>div>div{position:relative; z-index:3; text-align:center;}
				.login-content>div>div>img {float:left; margin:5px 30px 0 0;}
				
				.login-content>div>div>label {float:right; display:block; margin-bottom:35px; max-width:320px; height:50px; }
					.login-content #passwordBtn,
					.login-content #loginBtn,
					.login-content>div>div>label input[type="password"],
					.login-content>div>div>label input[type="text"] {width:100%; height:100%; padding:0 25px; text-align:center; font-size:1.5rem; font-family:'marionregular', sans-serif;  background:#ffffff; border:solid 1px #707070; -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; -webkit-appearance: none!important; appearance: none!important;}
					
					.login-content ::-webkit-input-placeholder {color:#dcdcdc;}
					.login-content :-moz-placeholder {color:#dcdcdc; opacity:1;}
					.login-content ::-moz-placeholder {color:#dcdcdc; opacity:1;}
					.login-content :-ms-input-placeholder {color:#dcdcdc;}
					.login-content ::-ms-input-placeholder {color:#dcdcdc;}
					.login-content ::placeholder {color:#dcdcdc;}	
				
			.login-content #passwordBtn,
			.login-content #loginBtn {clear:both; width:120px; height:36px; float:right; margin-right:-25%; font-size:.93rem; cursor:pointer; font-family: 'dinregular', sans-serif; font-weight:bold; background:#E9A365;}	
			.login-content #passwordBtn {float:right; width:190px;}
		
		.login-content .lightbox-bg {position:absolute; left:0; top:0; width:auto; height:90%; -webkit-border-top-left-radius: 11px; -moz-border-radius-topleft: 11px; border-top-left-radius: 11px;}
		
		.login-buttons {width:100%; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content:space-between;}
		
		.lightbox-wrapper .ico {display:block; position:absolute; right:25px; top:25px; width:25px; height:25px;}	
		.lightbox-wrapper .ico {cursor:pointer; opacity:1; padding-top:11px; -moz-transition: all .3s ease-in 0s; -webkit-transition: all .3s ease-in 0s; -o-transition: all .3s ease-in .0s; -ms-transition: all .3s ease-in 0s; transition: all .3s ease-in 0s;}	
		.lightbox-wrapper .ico i {display:block; height:3px; margin-top:0; background:#ffffff;}	
		.lightbox-wrapper .ico i:nth-child(2) {display:none; }
		.lightbox-wrapper .ico i:nth-child(1) {transform: rotate(45deg); -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);}
		.lightbox-wrapper .ico i:nth-child(3) {margin-top:-3px; transform: rotate(-45deg); -webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);}	
		
		
		

/*=================================================================
  HEADER
==================================================================*/
#header {position:relative; width:100%; height:auto; padding:0 17px; background-color:#ffffff; z-index:333;}
#header .main-max-fix {overflow:visible;}
	#logo {display:inline-block; margin:18px 0 0 18px; width:149px;}
		#logo img {width:50%; -webkit-transition: all .3s ease-in .25s;  -moz-transition: all .3s ease-in .25s;  -o-transition: all .3s ease-in .25s;  transition: all .3s ease-in .25s;}
	
	.menu {position:absolute; right:0; top:0; width:73%; height:100%;}
		.menu ul {height:100%; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content:center; align-items:center;}
			.menu ul li {position:relative; height:100%; padding-top:55px; margin:0 10px;}
				.menu ul li a {position:relative; font-size:1.31rem; font-weight:bold; color:#000000; padding:0 35px; height:100%;  background-color:transparent; z-index:22; -webkit-transition: all .3s ease-in;  -moz-transition: all .3s ease-in;  -o-transition: all .3s ease-in;  transition: all .3s ease-in;}
				.menu ul li a:hover {color:#E9A365;}
					.menu ul li span {content:""; position:absolute; left:0; top:0; width:100%; height:0; z-index:11; -webkit-transition: all .3s ease-in;  -moz-transition: all .3s ease-in;  -o-transition: all .3s ease-in;  transition: all .3s ease-in;}
					
				.menu ul li.active {padding-top:0;}	
				.menu ul li.active span {background-color:#E9A365; height:175%; -webkit-transition: all .3s ease-in;  -moz-transition: all .3s ease-in;  -o-transition: all .3s ease-in;  transition: all .3s ease-in;}
					.menu ul li.active a {padding:28px 10px 0; line-height:1.5rem; text-align:center; color:#ffffff; -webkit-transition: all .3s ease-in;  -moz-transition: all .3s ease-in;  -o-transition: all .3s ease-in;  transition: all .3s ease-in;}
	

.mobile-menu {display:none; position:absolute; right:21px; top:0; padding:10px 10px 50px; font-size:1.5rem; font-weight:bold; background:#e9a365; color:#000000;
	-moz-transition: all .3s ease-in 0s;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in .0s;
	-ms-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;}
	
	.mobile-menu .ico {display:block; width:40px; margin:15px auto 0;}
	.mobile-nav .ico i,
	.mobile-menu .ico i {display:block; width:100%; height:1px; margin-top:10px; background:#707070;
	-moz-transition: all .3s ease-in 0s;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in .0s;
	-ms-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;}
	.mobile-menu .ico i:first-child {margin-top:0;}


.mobile-nav {display:none; clear:both; position:relative;}
	.mobile-nav nav {position:absolute; left:100%; top:0; width:100%; padding:30px; background:#e9a365;
	-moz-transition: all .3s ease-in 0s;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in .0s;
	-ms-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;}
	
		.mobile-nav nav ul {padding-top:50px}
		.mobile-nav nav ul li {width:100%;}
		.mobile-nav nav ul li a {font-size:1.5rem; line-height:1.6rem; color:#000000; padding:5px 0; font-weight:bold;}
		
		
		
#header.active .mobile-nav nav {left:0;}
#header.active .mobile-menu {top:100%; padding-top:30px; z-index:33;}
#header.active .mobile-menu .ico {opacity:0;}
	/*.mobile-nav nav>p {position:absolute; right:30px; top:30px; font-size:1.5rem; line-height:1.6rem; color:#000000; font-weight:bold;}*/
	.mobile-nav .ico {opacity:0; position:absolute; left:30px; top:30px; z-index:33; width:25px; height:25px;}
	.mobile-nav .ico i {display:block; width:100%; height:3px;}

	#header.active .mobile-nav .ico {width:25px;}	
		#header.active .mobile-nav .ico {cursor:pointer; opacity:1; padding-top:11px; -moz-transition: all .3s ease-in 0s; -webkit-transition: all .3s ease-in 0s; -o-transition: all .3s ease-in .0s; -ms-transition: all .3s ease-in 0s; transition: all .3s ease-in 0s;}	
		#header.active .mobile-nav .ico i {height:3px; margin-top:0; background:#000000;}	
		#header.active .mobile-nav .ico i:nth-child(2) {display:none; }
		#header.active .mobile-nav .ico i:nth-child(1) {transform: rotate(45deg); -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);}
		#header.active .mobile-nav .ico i:nth-child(3) {margin-top:-3px; transform: rotate(-45deg); -webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);}		
		
		
		

/*=================================================================
  FOOTER
==================================================================*/
#footer {position:relative; width:100%; height:auto; padding:120px 0 100px; background-color:#41415b;}
	#footer .main-content.main-flexbox {justify-content:space-between; clear:both;}
	.address {color:#ffffff; padding:45px; width:33%;}
		.address img {margin:0 auto;}
		.address h2 {font-size:1.25rem; padding-top:75px; font-weight:bold; padding-bottom:15px;}
		.address p, .address a {display:inline-block; font-size:.94rem; color:#ffffff;}
		.address p {display:block; padding-top:10px;}
	.address:first-child {padding-left:0;}
	.address:nth-child(2) {border-left:solid 4px #ffffff; border-right:solid 4px #ffffff;}
	.address:nth-child(3) {padding-right:0;}
	
	.copyrite {text-align:center; padding:110px 0;}
		.copyrite p,
		.copyrite a {display:inline-block; color:#ffffff; font-size:.94rem;}
		.copyrite a {color:#E9A365;}
		.copyrite .color-white {color:#ffffff;}

	
	.bli-kund {display:block; position:relative; left:50%; float:left; color:#E9A365; font-size:1.875rem; border:solid 5px #ffffff; padding:20px 105px; text-align:center; font-weight:bold; margin:0 auto 400px;
	transform: translateX(-50%); -webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);}


/*=================================================================
  HOME PAGE
==================================================================*/
.slide {position:relative; width:100%; height:auto; padding-bottom:70px; overflow:hidden; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items:center;  background-color:#ffffff;
	-moz-transition: all .3s ease-in 0s;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in .0s;
	-ms-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;}
	
	.slide-text {width:27%; float:left; background-color:#ffffff; z-index:3;}
		.slide-text div {position:relative; width:100%; }
		.slide-text div div{position:absolute; left:100%; top:50%; width:130%; padding:10% 0 15% 0; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%); background-color:#ffffff;}
		.slide-text div div h2 {font-size:2.5rem; line-height:3.25rem; font-weight:bold; padding-right:20px;}
			.slide-text div div h2::before {content:""; position:absolute; right:-15%; bottom:16%; width:100%; height:11px; background:#40415A;}
			.slide-text img {position:absolute; left:5%; bottom:70px;}
	
	.slide-img {position:relative; width:73%; float:left; z-index:1; order:2;}
		.slide-img img {width:100%; height:auto;}



.page-container {background:#40415A url("../images/bakgrund-hemsida.jpg") no-repeat 0 0; background-size:contain;}
	.page-menu {padding:30px 60px; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content:space-between; align-items:center;}
		.page-menu a {color:#ffffff; font-size:1.31rem;}
		.page-menu a.active,
		.page-menu a:hover {color:#E9A365;}



.text-container {justify-content:space-between; align-items:center; padding:130px 0;}
	.text-container div {width:70%; padding:35px 80px; border-left:solid 4px #ffffff;}
	.text-container div>img {margin:0 auto;}
	.text-container div:first-child {width:30%; border-left:none;}
		.text-container div h2 {color:#E9A365; font-size:1.875rem; line-height:2.7rem; padding-bottom:30px;}
		.text-container div p {color:#E9A365; font-size:1.125rem; line-height:2rem}


.section-list-container {position:relative; width:100%; height:auto; padding:90px 0; overflow:hidden;}	
.section-list-container::before {content:""; position:absolute; left:0; top:0; width:660px; height:100%; background:#ffffff;}	
	.section-list {position:relative; width:100%; height:auto; overflow:hidden; z-index:3;}
	
		.section-item {width:1185px; align-items:center; margin-top:65px;}
		.section-item:first-child {margin-top:0;}
			.section-item  .item-text {position:relative; width:580px; /*width:27%;*/ background:#ffffff;}
				.item-text div {position:relative; right:-20%; width:100%; padding:30px 90px 30px 0; background:#ffffff;}
				.item-text h2 {font-size:1.875rem; color:#000000; padding-bottom:30px; font-weight:bold;}
				.item-text p {font-size:1rem; line-height:1.5rem; color:#000000; font-family:'marionregular', Helvetica, Arial, sans-serif;;}
				.item-text .arrow-right {position:absolute; right:30px; top:50%; margin-top:-23.5px;}
				.item-text .arrow-right-white {display:none;}
				
			.section-item  .item-img {order:2;}
				.section-item  .item-img img {width:100%; height:auto;}
			
			
			
			
			
			

.section-text {padding:150px 0; background-color:#ffffff;}
	.section-text .main-max-fix {overflow:visible;}
		.section-text .main-content {overflow:visible; text-align:center;}
		.section-text .main-content::before,
		.section-text .main-content::after {position:absolute; font-size:5rem; line-height:1rem; color:#E9A365; font-family:"Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;}
		.section-text .main-content::before {content:'\201C'; /*left:-75px;*/ left:0; top:-20px;}
		.section-text .main-content::after {content:'\201D'; right:0; bottom:0;}

		.section-text h2{font-size:2.1rem; color:#000000; font-weight:bold; padding-bottom:40px;}
		.section-text h3{font-size:1.56rem; color:#000000;}		




/*=================================================================
	PERSON
==================================================================*/
.person {}		
	.person .page-detail {padding-bottom:300px;}
	.person .slide-text div div {width:130%; padding:10% 0 15% 15%}
	.person .slide-text div div h2 {font-size:3.75rem; line-height:4.25rem;}
	.person .slide-text div div h2::before {width:85%; height:11px; bottom:20%;}
	.person .section-item .item-img {width:24%; order:0;}
	.person .section-item .item-img img {position:relative; right:-14%; width:114%; float:right; z-index:3;}
	
	.person .text-container {padding-bottom:0;}
	
	.person .section-list-container {padding:120px 0 0;}
	.person .section-list-container::before {display:none;}
	
	.person .item-text div {right:auto; width:100%; padding:100px 165px 170px;}
	
	.person .section-item {width:1500px; justify-content:space-between; align-items:center; float:right;}
	.person .item-text {width:76%;}
	
	.person .item-text h3 {margin-top:60px; font-weight:bold;}
	.person .item-text h3,
	.person .item-text p {font-size:1rem;}
	.person  .text-container div h2 {padding-bottom:0;}
	.person .slide-text img {position:absolute; left:12%; bottom:70px;}

/*=================================================================
	OM INFOTRADER
==================================================================*/
.ominfotrader .page-menu {justify-content:center;}
	.ominfotrader .page-menu a {padding:0 40px;}
	
	.ominfotrader .slide {background-color:transparent;}
		.ominfotrader  .slide-text div div {background:none; width:180%; padding:10% 0 15% 50%;}
		.ominfotrader .slide-text div div::before {content:""; position:absolute; left:0; top:0; width:86%; height:100%; background:rgba(255,255,255,.36); z-index:-1;}
		
			.ominfotrader .slide-text div div h2 {font-size:3.75rem; line-height:4rem;}
			.ominfotrader .slide-text div div h2::before {width:70%; bottom:20%; right:-25%;}
			.ominfotrader .slide-text img {left:11%;}
			
			
	.ominfotrader .section-list-container::before {display:none;}
			.ominfotrader .item-text {width:73%; float:right;}
				.ominfotrader .item-text div {right:auto; width:100%; padding:70px 125px;}
				
	

	.ominfotrader .text-container {padding-bottom:0;}
	.ominfotrader .section-list-container {padding:0;}
	.ominfotrader .section-list-container.img-left {padding-top:250px;}
		.ominfotrader .item-text {width:70%;}
		.ominfotrader .item-text h3 {font-size:2.18rem; line-height:2.5rem; padding-top:90px;}
		.ominfotrader .item-text h3:first-child {padding-top:0;}
		.ominfotrader .item-text p {font-size:1rem; line-height:1.5rem; padding-top:50px;}
		.ominfotrader .item-text p:first-child {padding-top:0;}
	
	.ominfotrader .text-container div {padding:80px 60px}
	.ominfotrader .page-detail>.main-content {width:100%;}
	.ominfotrader .text-container div {width:80%;}
	.ominfotrader .text-container div:first-child {width:20%;}
		.ominfotrader .text-container div:first-child img {float:right; margin-right:20px;}
		.ominfotrader .text-container.text-container-left div:first-child img {float:left; margin-left:20px; margin-right:0;}
		
	
	.our-team {display:block; position:relative; width:100%; padding:150px 60px 50px; color:#ffffff; overflow:hidden;}	
		.our-team div {position:relative; width:21%; float:left; margin:2%; overflow:hidden;}
		.our-team div img {width:100%; height:auto;}	
			.our-team h3 {font-size:1.875rem; padding:50px 0 10px;}	
			.our-team p {font-size:1.25rem;}	


	.ominfotrader .text-container-left {padding-top:290px;}
		.ominfotrader .text-container-left div {border-left:none; border-right:solid 4px #ffffff; text-align:right;}
		.ominfotrader .text-container-left div:first-child {order:2; border:none;}

	.ominfotrader .img-right,
	.ominfotrader .img-right .section-list{overflow:visible;}
	.ominfotrader .img-right {margin-top:140px;}
	.ominfotrader .img-right .section-item {width:100%; align-items:center;}
	.ominfotrader .img-right .item-text {width:80%;} 
	.ominfotrader .img-right .item-img {width:20%; position:relative; z-index:2;}
		.ominfotrader .img-right .item-img img {width:calc(100% + 200px); margin-left:-200px;}
		
		
		
		.ominfotrader .img-right .item-text div {padding:115px 300px 115px 100px;}


	.ominfotrader .text-container div h2 {padding-bottom:0;}

	.ominfotrader .img-left .section-item {width:100%; align-items:center;}
		.ominfotrader .img-left .item-img {width:20%; order:-1;}
		.ominfotrader .img-left .item-img img {width:calc(100% + 100px); position:relative; z-index:3;}
		.ominfotrader .img-left .item-text {width:80%;} 
		.ominfotrader .img-left .item-text div {padding:100px 200px 100px 200px;}

	

@media screen and (max-width:1500px){
	
	/*=================================================================
	PERSON
	==================================================================*/
	.person .section-item {width:100%;}
}



@media screen and (max-width:1440px){
	
	/*=================================================================
	HEADER
	==================================================================*/
	.main-content {width:100%;}
	.person .item-text div {padding:100px;}
	.ominfotrader .text-container div {padding:100px 75px;}
}


@media screen and (max-width:1366px){
	.main-content {width:1200px;}
	
	/*=================================================================
	HEADER
	==================================================================*/
	#header {}
		
		
	.slide-text div div h2 {font-size:2.1rem; line-height:2.5rem;}	
	.slide-text img {bottom:75px;}
	
	
	.item-text .arrow-right {width:42px; height:auto; margin-top:-21px;}
	.item-text h2 {font-size:1.875rem; padding-bottom:20px;}

	.section-text .main-content {text-align:center;}
	.section-text .main-content::before {left:0; top:-10px;}
	.section-text .main-content::after {bottom:-10px;}
	
	.text-container div img {/*width:50%; height:auto;*/ margin:0 auto;}
	
	.person .item-text div {padding:100px 75px 120px 125px;}
	
	.person .item-img {margin-left:0;}
	
	
	.ominfotrader .text-container div {padding:75px 45px}
	.ominfotrader .slide-text div div {width:190%;}
	

}

@media screen and (max-width:1185px){
	.section-list-container::before {width:56.70%;}
	.section-item {width:100%;}
		.section-item .item-text {width:49%;}
		.section-item .item-img {width:51%;}
		
	.person .section-item .item-text {width:76%;}
	.person .section-item .item-img {width:24%;}
}


@media screen and (max-width:1024px){
	
	html, body {font-size:14px;}
	.main-content {width:90%;}
	
	/*=================================================================
	HEADER
	==================================================================*/
	#header {}
		.menu ul li {padding-top:60px;}
		.menu ul li a {font-size:1rem;}
		.menu ul li.active a {padding-top:35px; }
	.person .slide-text img {left:8%;}	
	.slide-text img {width:40px}
	.slide-text h2 {font-size:2rem;}
		.slide-text h2:before {right:-15%; bottom:10%; width:100%; height:10px;}
			.slide-text div div {width:135%; padding:10% 5% 15% 0;}
				.slide-text div div h2 {padding-right:0;}
				
		
	.page-menu {padding:30px;}	
		.page-menu a {font-size:1rem;}
	
	
	
	.section-item .item-img {width:70%;}
	.section-item .item-text h2 {padding-bottom:20px;}
	
	.section-text .main-content {width:90%;}
		.section-text h2 {font-size:2rem; padding-bottom:20px;}
		.section-text h3 {font-size:1.35rem;}
	
	.text-container {padding:65px 0;}
		.text-container div {padding:45px 50px;}
		.text-container div:first-child {width:27%; }
			.text-container div img {width:46%;}
	
	
	
	
	.person .slide-text div div {padding-left:0;}
	.ominfotrader .slide-text div div h2,
	.person .slide-text div div h2 {font-size:3rem; line-height:3.5rem;}
	.person .slide-text div div h2::before {width:94%;}
	
	.person .item-text div {padding:50px 50px 50px 80px;}

	
	.ominfotrader .item-text h3 {padding-top:45px;}
	
	.our-team {padding:180px 30px 50px;}
	.our-team h3 {padding:30px 0 10px}
	.our-team p,
	.ominfotrader .item-text p {font-size:1rem;}
	.ominfotrader .item-text h3, .our-team h3 {font-size:1.5rem;}
	
	.ominfotrader .slide-text div div {padding-left:130px;}
	
	.ominfotrader .img-right .item-img img {width: calc(100% + 120px); margin-left: -120px;}
	.ominfotrader .img-right .item-text div {padding:50px 170px 50px 50px;}
	
	.ominfotrader .img-left .item-text div {padding:50px 50px 50px 150px;}
	.ominfotrader .slide-text img {left:13%}
	.ominfotrader .slide-text div div::before {width:82%;}
}




@media screen and (max-width:768px){
	html, body {font-size:12px;}
	.main-content {width:100%;}
	
	.menu ul li.active a {padding-top:38px;}
	#header {padding:0;}
		.menu ul li a {padding:0 15px}
	
	.text-container div {border-width:1px;}
		.text-container div img {width:50%;}
	
	.slide-text div div {width:150%;}
	.slide-text div div h2 {font-size:2rem;}
	.slide-text div div h2::before {bottom:12%; height:6px;}
	.slide-text img {width:32px;}
	
	.item-text div {width:124%; right:-16%;}
	.item-text .arrow-right {width:38px; margin-top:-19px;}
	
	.section-text {margin:75px 0 0; padding:75px;}
	.section-text .main-content::before {left:-10%;}
	.section-text .main-content::after {right:-10%;}
	
	#footer {padding:75px 0;}
		.bli-kund {margin-bottom:200px; padding:20px 60px; border-width:1px; font-size:2rem;}
		.address {padding:5px 15px; text-align:center;}
			.address h2 {padding-top:25px;}
			/*.address img {width:25%;}*/
		.address:nth-child(2) {border-left:solid 1px #ffffff; border-right:solid 1px #ffffff;}
	
	.copyrite { padding:80px 0}
	
	

	.person .item-text div {padding:40px 40px 40px 65px}
	
	
	.ominfotrader .slide-text div div {padding-left:100px;}
	.ominfotrader .item-text div {padding:30px;}
	.ominfotrader .img-right .item-text div {padding:30px 140px 30px 30px;}
	.ominfotrader .img-left .item-text div {padding:30px 30px 30px 130px}
	
	.login-content {padding:25px 80px 25px 105px;}
	.login-content>div h2 {padding-bottom:30px;}
	.login-content>div>div>label {margin-bottom:15px; max-width:220px;}
	.login-content #passwordBtn,
	.login-content #loginBtn {margin-right:-15%}
	
	.ominfotrader .item-text p {padding-top:25px;}
	.our-team div {width:46%;}
}




@media screen and (max-width:640px){
	
	#logo {margin:8px 0 0 18px}
		#logo img {width:44%;}
	
		.menu ul li {padding-top:30px;}
			.menu ul li a {line-height:2rem;}
			.menu ul li.active a {padding-top:15px;}
	
	.slide {padding-bottom:35px;}
		.slide-text div div h2 {font-size:1.5rem;}
		.slide-text div div h2::before {height:3px; bottom:10%;}
		.slide-text img {width:20px; bottom:35px;}
		
	
	.page-menu {padding:30px 15px;}
		.page-menu a {font-size:.75rem;}
	
	.text-container {padding:30px 0;}
		.text-container div {padding:30px;}
		.text-container div h2 {font-size:1.66rem;}
		.text-container div img {width:48%;}
		
		
	.section-list-container {padding:30px 0;}	
		.section-item {margin-top:30px;}
			.section-item  .item-text div {padding:15px 15px 15px 0; }
			.section-item  .item-text h2 {font-size:1.75rem; line-height:2rem; padding-bottom:15px;}
			.item-text .arrow-right {width:23px; right:15px; top:15px;}

			
	.section-text {margin:50px 0; padding:50px;}
		.section-text h3 {font-size:1.5rem;}
	
	.bli-kund {font-size:1.7rem;}
	.forMobile {display:block; width:100%;}
	
	.ominfotrader .section-list-container,
	.person .section-list-container {padding:0 30px;}
	.person .slide-text div div {padding:45px;}
	
	.person .section-item .item-text, .person .section-item .item-img {width:100%;}
	.person .section-item .item-img img {right:auto; top:auto; float:none;}
	
	.ominfotrader .item-text h3, .our-team h3,
	.person .item-text h3, .person .item-text p {color:#ffffff;}
	.person .item-text h3, .person .item-text p {font-size:1.66rem;}
	.person .item-text h3 {line-height:2rem;}
	.ominfotrader .text-container div:first-child img {margin:0}
	.ominfotrader .text-container-left div,
	.ominfotrader .text-container {text-align:left;}
	
	.our-team {padding:75px 30px; flex-wrap:wrap; justify-content:space-between;}
	
	.ominfotrader .img-right {margin-bottom:0!important}
	.ominfotrader .img-left .item-img img,
	.ominfotrader .img-right .item-text {width:100%; padding-bottom:30px;}
	
	
	.ominfotrader .img-right .item-img {position:relative; right:auto; bottom:auto; width:100%;}
	.ominfotrader .img-right .item-img img {width:100%; margin:0;}
	.ominfotrader .img-left .item-text div,
	.ominfotrader .img-right .item-text div {padding:30px 0;}
	
	.ominfotrader .img-left,
	.ominfotrader .img-right {margin:0;}
	.ominfotrader .img-left .item-img,
	.ominfotrader .img-left .item-text {width:100%; float:none; margin-top:0;}
	.ominfotrader .img-left .section-item {display:block;}
	
	.person .text-container div h2,
	.ominfotrader .text-container div h2 {position:relative; padding-bottom:10px; margin-bottom:10px;}
	.person .text-container div h2::before,
	.ominfotrader .text-container div h2::before {content:""; position:absolute; left:0; bottom:0; width:70%; height:1px; background:#ffffff;}
}




@media screen and (max-width:639px){
	
	.mobile-nav, .mobile-menu {display:block;}
	
	#header {position:relative;}
		#logo {margin:8px;}
			.page-menu,
			.ominfotrader .slide-text div div::before,
			.menu {display:none;}
		
	.slide {display:block; padding-bottom:0; background-color:transparent; overflow:visible;}	
	.slide-img,
	.ominfotrader .slide-text,
	.slide-text {width:100%; float:none;}
	
		.ominfotrader .slide-text,
		.slide-text {position:absolute; left:0; bottom:-150px; height:150px; background-color:transparent;}
			.slide-text img {display:none;}
			.ominfotrader .slide-text div div,
			.slide-text div div {position:relative; width:100%; left:auto; top:auto; padding:45px; background-color:transparent; transform:none; -webkit-transform:none;-moz-transform:none;}
				.slide-text div div h2 {color:#ffffff;}
				.slide-text div div h2::before {width:50%;}
				
	.text-container {display:block; text-align:center;}
		.ominfotrader .text-container div,
		.text-container div {width:100%; border:none; padding:15px 30px; clear:both;}
			.text-container div:first-child {width:100%;}
			.text-container div h2 {}
			.text-container div img {width:40px; margin:0 auto;}
	
	.page-container {padding-top:150px;}
	
	
	.section-list-container {padding:0 30px;}
	.section-list-container::before {display:none;}
		.section-item {display:block;}
			.section-item .item-text,
			.section-item .item-img {width:100%; background:none;}
			.section-item .item-text div {width:100%; right:auto; padding:30px 0;}
			.item-text div {background:none;}
			
			.section-item .item-text h2,
			.section-item .item-text p {color:#ffffff; font-size:1.33rem;}
			
			.item-text .arrow-right {display:none;}
			.item-text .arrow-right-white {display:block; right:0; top:27px; width:30px; margin-top:0;}
			.item-text p {font-size:1.1rem;}
		
	.section-text .main-content	{width:100%;} 	
	.section-text .main-content::before	{left:-5%;} 	
	.section-text .main-content::after {right:-5%;}		
		.section-text {padding:50px 30px;}
			.section-text h2 {font-size:1.75rem;}
			.section-text h3 {font-size:1.25rem;}
				
				
	.address img {width:40px;}		
	.bli-kund {font-size:1rem;}
	
	.person #main {padding-bottom:0;}
	.person .text-container {align-items:normal; text-align:left;}
	.person .text-container div img {margin:0;}
	.person .slide-text div div h2::before {width:75%; height:7px; bottom:12%;}
	
	.person .slide-text div div h2,
	.ominfotrader .slide-text div div h2 {font-size:2.6rem;}
	
	.ominfotrader .img-left .item-text div, .ominfotrader .img-right .item-text div,
	.ominfotrader .item-text div {padding:0}
	.our-team {padding:30px}
	
	.ominfotrader .img-left .item-img,
	.ominfotrader .img-right .item-img {padding-top:30px;}
	
	.login-content {padding:15px 50px 15px 95px;}
	.login-content>div h2 {padding-bottom:30px; font-size:1.5rem;}
	.login-content>div>div>label {margin-bottom:15px; max-width:180px; height:36px;}
	.login-content>div>div>img {width:12%; margin:5px 10px 0 0;}
	.login-content #passwordBtn, 
	.login-content #loginBtn, 
	.login-content>div>div>label input[type="password"], .login-content>div>div>label input[type="text"] { font-size:1rem;}
	
	.login-content #passwordBtn,
	.login-content #loginBtn {margin-right:-15%; font-size:.85rem;}
	.lightbox-wrapper .ico {right:10px; top:10px; width:20px; height:20px;}
	
	.ominfotrader .section-list-container.img-left,
	.ominfotrader .text-container-left {padding-top:150px;}
	.person .page-detail {padding-bottom:150px;}
}


@media screen and (max-width:414px){
	.page-container {padding-top:200px}
	.slide-text div {height:100%; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items:center;}
		.slide-text div div {padding:30px;}
		
		.text-container div p {font-size:1.33rem;}
		
	.section-item {margin-top:60px;}	
		.section-text h2 {font-size:1.5rem; line-height:2rem}
		.section-text h3 {font-size:1rem;}
		
	.section-text .main-content::before, .section-text .main-content::after {font-size:4rem;}	
	
	
	.address {padding:5px!important}
		.address h2 {font-size:1rem; padding:15px 0!important}
		.address p, .address a {font-size:.7rem; line-height:1rem;}
		.address p {padding-top:15px!important}
		
	.copyrite p, .copyrite a {
    font-size:.75rem;
    display: inline-block;
    color: #ffffff;
    font-size: .94rem;
  }	
	.section-item .item-text h2 {font-size:2rem}
	
}

@media screen and (max-width:360px){
	
	.section-text h2 {font-size:1.35rem;}
}







